html {
    font-family: "Arial";
}

table {
    padding: 20px;
}

h1 {
    font-weight: bold;
    vertical-align: middle;
    border: 1px solid black;
}

th, td {
    border-bottom: 1px solid black;
}

img {
    width: 100px;
    height: auto;
}

#banner {
    background-color: #24A2B8;
    color: #000000c7;
    padding: 10px;
}

#bloqueCuerpo {
    padding: 0px;
}